<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer", {

      theme: "light2",

      title:{
        text: "Mobiles sold in First & Second Quarter"
      },

      data: [  //array of dataSeries
      { //dataSeries - first quarter
 /*** Change type "column" to "bar", "area", "line" or "pie"***/
       type: "column",
       name: "First Quarter",
       showInLegend: true,
       dataPoints: [
       { label: "Samsung", y: 58 },
       { label: "Vivo", y: 69 },
       { label: "OPPO", y: 80 },
       { label: "Mi", y: 74 },
       { label: "Realme", y: 64 }
       ]
     },

     { //dataSeries - second quarter

      type: "column",
      name: "Second Quarter",
      showInLegend: true,
      dataPoints: [
          { label: "Samsung", y: 63 },
          { label: "Vivo", y: 73 },
          { label: "OPPO", y: 88 },
          { label: "Mi", y: 77 },
          { label: "Realme", y: 60 }
      ]
    }
    ],
 /** Set axisY properties here*/
    axisY:{
      prefix: "$",
      suffix: "K"
    }
  });

chart.render();
}
    </script>
    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
</body>
</html>